* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
	text-decoration: none;
	transition: all .2s linear;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'Outfit', sans-serif;
	background: hsl(212, 45%, 89%);
	padding: 5px;
}


img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

main {	
	max-width: 1440px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 300px;
	margin: 0 auto;

	padding: 15px;	
	border-radius: 15px;
	text-align: center;
	color: hsl(218, 44%, 22%);
	background: hsl(0, 0%, 100%);
}


main img {
	border-radius: 15px;
}


.content-text {
	padding: 0 12px;
	margin-bottom: 20px;
}

.content-text h1 {
	font-weight: 700;
	font-size: 21px;
	margin-top: 25px;
}

.content-text p {
	font-size: 15px;
	color: hsl(220, 15%, 55%);

}









